############################
# React / Node.js
############################
node_modules/
dist/
.env
.env.local

############################
# Java / Spring Boot
############################
target/
*.log
*.class

############################
# IDE / Editor
############################
.idea/
.vscode/
*.iml

############################
# OS files
############################
.DS_Store
Thumbs.db
